@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap')

$titleFont: 'Source Code Pro', monospace
$baseFont: 'Pontano Sans', sans-serif
$gold: #c0a344
$goldHover: #DFBF4D
$baseblack: #29313D
$baseWhite: #f2f2f2

*, *:before, *:after
    -webkit-box-sizing: border-box !important
    -moz-box-sizing: border-box !important
    -ms-box-sizing: border-box !important
    box-sizing: border-box !important

*
    margin: 0px
    padding: 0px

body
    margin: 5% auto
    width: 60%
    max-width: 1100px
    line-height: 1.8rem
    font-size: 20px
    font-family: $baseFont
    background: $baseblack
    color: white

img, video
    max-width: 100%

a
    color: $gold
    text-decoration: none
    transition: color 0.5s
    &:hover
        cursor: pointer
        color: $goldHover

ul, ol
    list-style-position: inside


.flex, .flex-on-mobile
    display: flex
    &.is-space-between
        justify-content: space-between
    &.is-space-around
        justify-content: space-around
    &.is-align-items
        align-items: center
    &.is-flex-end
        justify-content: flex-end
    .is-half
        width: 50%
    .is-one-fifth
        width: (1/5 * 100%)
    .is-four-fifth
        width: (4/5 * 100%)
    .is-two-third
        width: (2/3 * 100%)
    .is-one-third
        width: (1/3 * 100%)

.tags
    list-style: none
    li
        display: inline-block
        margin: 0 1px
        margin-bottom: 2px
    a
        padding: 0px 5px
        display: inline-block
        border-radius: 3px

header
    margin-bottom: 40px
    padding-bottom: 5px
    #title
        font-size: 2rem
        font-weight: bold
        color: #EA93FF
    #subtitle
        font-size: 1.4rem
        color: #E2CCE8
    svg
        margin-right: 10px
    nav
        padding: 5px 0
        border-top: 1px solid #E2CCE8
        border-bottom: 1px solid #E2CCE8
        a
            color: #EA93FF
            font-size: 1rem


h1
    line-height: 40px

.title
    font-family: $titleFont
    text-transform: capitalize
    font-size: 1.7rem
    font-weight: bold
    margin-bottom: 5px

#post
    h1
        color: $gold
        font-size: 2rem
        line-height: 2.2rem
        margin-bottom: 5px
    h2
        margin-top: 50px
        margin-bottom: 10px
        font-size: 1.6rem
        &::before 
          content: "👉 "


pre
    margin-bottom: 20px

code
    display: inline-block
    border-radius: 10px
    font-size: 1rem
    background: #282c34
    padding: 5px

button
    padding: 5px 10px
    border-radius: 10px    
    &:hover
        cursor: pointer

.article
    white-space: pre-wrap
    ul, ol
        line-height: 16px
    li
        line-height: 24px
    a
        text-decoration: underline
        color: pink
        &:hover
            color: #f98dec

.is-hidden
    display: none

.mb-40
    margin-bottom: 40px

.text-small
    font-size: 0.8rem

#bitesize-btn
    font-size: 1rem
    background: none
    border: 1px solid $gold
    color: $gold
    padding: 5px 10px
    transition: background 0.5s
    &:hover
        background: $gold
        color: white

.searchbox
    background: none
    border-radius: 5px
    border: 1px solid white
    padding: 5px 10px
    color: white
    font-size: 1rem

.capitalize
    text-transform: capitalize

.my-10
    margin: 10px 0

.is-pink
    color: pink
    &:hover
        color: #f98dec

@import 'labels'
@import 'responsive'