{{ define "main" }}

<section id="post">
    <h1 class="title">{{ .Title }}</h1>

    <div>
      <button id="bitesize-btn" onclick="window.location.href = window.location.href + '?mode=bitesize' ">Read in bitesize</button>
    </div>

    <div class="article"> {{ .Content }} </div>

    <ul class="tags text-small">
      {{ range .Params.topic }}
      <li><a class="tags-{{.}}" href="/topic/{{lower .}}">{{ . }}</a> </li>
      {{ end }}
      <li id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </li>
    </ul>
</section>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/atom-one-dark.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<style>
  #bitesize_wrapper {
    background: #29313D;
    position: absolute;
    top: 0px;
    left: 10%;
    width: 80%;
    height: 100%;
    padding: 50px 200px;
  }

  #bitesize_wrapper h2{
    line-height: 2.2rem;
  }
  @media only screen and (max-width: 1000px) {
    #bitesize_wrapper {
      left: 0px;
      width: 100%;
      padding: 50px;
    }
  }

  #slide-menu{
    text-align: right;
    border-top: 1px solid grey;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #slide-menu h1{
    font-size: 24px;
    margin-bottom: 20px;
  }

  #slide-nav span{
    font-size: 16px;
    background: orange;
    padding: 5px 10px;
  }
  #slide-nav span:hover{
    cursor: pointer;
  }
</style>

<!-- <script src="/js/bitesize.js" defer> </script> -->
<script src="/js/bitesize-prod.js" defer> </script>
<script>
  const _article = document.getElementsByClassName('article')[0]
  //hide bitesizebtn if no H2
  if(!_article.innerHTML.includes("</h2>"))
    document.getElementById('bitesize-btn').style.display = "none"

  //open all links in new tab
  const _links = _article.getElementsByTagName('a')
  for (var i = 0; i<_links.length; i++) {
    _links[i].setAttribute('target', '_blank')
  }
</script>

{{ end }}