<!-- Link to promote finddevtools -->
<div class="">

{{ if in .Params.topic "postman"}}
    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/alternative-to/postman">alternative tool to Postman here</a>
    </p>
{{ end }}

{{ if in .Params.topic "text-editor"}}
    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/category/text-editor">list of text editor for developer</a>
    </p>
{{ end }}

{{ if or (in .Params.topic "html") (in .Params.topic "css") (in .Params.topic "javascript") }}
    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/category/hosting-frontend">list of frontend hosting provider here</a>
    </p>
    <p> 🧐  
        <a style="color: pink;"
            href="https://finddev.tools/category/hosting-frontend">Compare best frontend hosting provider here</a>
    </p>
{{ end }}


{{ if in .Params.topic "git"}}
    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/best/git">list of best GIT tools here</a>
    </p>
{{ end }}

{{ if or (in .Params.topic "react") (in .Params.topic "nextjs") }}
    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/best/react-js">list of best React JS tools here</a>
    </p>
{{ end }}

{{ if in .Params.topic "testing"}}
    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/best/testing">list of best testing tools for developer</a>
    </p>
{{ end }}

{{ if in .Params.topic "database"}}
    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/best/database">list of best database tools for developer</a>
    </p>

    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/category/database-services">list of best database service providers for developer</a>
    </p>

    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/category/database-gui">list of best database GUI for developer</a>
    </p>
{{ end }}

{{ if in .Params.topic "PostgreSQL"}}
    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/category/postgre-database">list of best postgres database tool for developer</a>
    </p>
{{ end }}


{{ if in .Params.topic "serverless"}}
    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/category/serverless">list of best serverless providers for developer</a>
    </p>
{{ end }}


{{ if in .Params.topic "supabase"}}
    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/alternative-to/supabase">list of supabase alternative for developer</a>
    </p>
{{ end }}

{{ if in .Params.topic "tailwind"}}
    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/category/tailwind">list of tailwind CSS tools for developer</a>
    </p>
{{ end }}

{{ if in .Params.topic "search"}}
    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/category/full-text-search">list of Full text search developer tools</a>
    </p>
{{ end }}

{{ if in .Params.topic "typescript"}}
    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/alternative-to/typescriptlang">alternative to typescript as typed developer tools</a>
    </p>
{{ end }}

{{ if in .Params.topic "api"}}
    <p> 🧐 See 
        <a style="color: pink;"
            href="https://finddev.tools/best/API">list of best API tools for developer</a>
    </p>
{{ end }}


</div> <br>
