    <footer>
        <br> <hr> <br>
        <small>
        <a href="/series">Series</a> /
        <a href="/index.xml">RSS</a> /
        <a href="/sitemap.xml">Sitemap</a> /
        <a href="https://twitter.com/fullofdev" target="_blank">Twitter</a> /
        <a href="https://freestuff.dev/" target="_blank">Free stuff for Dev</a> /
        <a href="https://finddev.tools" target="_blank">Developer Tools</a> /
        <a href="https://findout.dev/code-snippets" target="_blank">Code Snippets</a> /
        <a href="https://tinyletter.com/onebitedev" target="_blank">Subscribe newsletter</a>
        </small>
    </footer>

    <script async defer src="https://sa-api.hilman.space/latest.js"></script>
    <noscript><img src="https://sa-api.hilman.space/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
</html>