<!DOCTYPE html>
<html lang="id">

<head>
    <title> {{ .Title }} </title>
    <meta name="description"
        content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}"
        property="og:description">
    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@hilmanski" />
    <meta name="twitter:creator" content="@hilmanski" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ .Title }} " />
    <meta property="og:description"
        content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />

    
    <!-- Styles -->
   {{ $style := resources.Get "/sass/main.sass" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
    <!-- TODO: Google Analystic -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>