{{ $title := .Title }}
{{ $desc := "" }}
{{ $image := "https://ik.imagekit.io/kodingclub/onebite/onebite-card_QBGk9ohj5K.png" }}

{{ if .Description }} 
    {{ $desc = .Description }} 
    {{ $image = printf "%s%s%s" "https://ogi.sh/article?title=" .Title "&subtitle=One%20code%20at%20a%20time&unsplashId=TWMI7B4KeLY&logo=https://ik.imagekit.io/kodingclub/onebite/onebite-logo_QwhRyJ3b0.png" | safeHTML }}
{{ else }} 
    {{ $desc = .Site.Params.Description }}  
{{ end }}

{{ if hasPrefix .RelPermalink "/topic/" }}
    {{ $title = printf "%s%s" "Developer blog around " .Title}}
    {{ $desc = printf "%s%s%s%s" "Developer and programmer blog around " .Title ", get tips and trick one bite a time about " .Title}}
{{ end }}

{{ if hasPrefix .RelPermalink "/series/" }}
    {{ $desc = printf "%s%s%s%s" "Developer article series with topic " .Title ", get tips and trick one bite a time about " .Title}}
{{ end }}


<title>{{ $title }}</title>
<meta name="description" content="{{$desc}}" property="og:description">

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@hilmanski" />
<meta name="twitter:creator" content="@hilmanski" />
<meta name="twitter:image" content='{{ $image }}'>

<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{$desc}}" />
<meta property="og:image" content="{{$image}}" />

<script defer type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "headline": {{ $title }},
      "author": {
        "@type": "Person",
        "name": "@hilmanski"
      },
      "datePublished": "{{ .Date.Format "2006-01-02" }}",
      "description": {{ $desc }},
      "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
      "image": {
        "@type": "imageObject",
        "url": "{{ $image }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
          "@type": "imageObject",
          "url": "https://onebite.dev/favicon-32x32.png"
        }
      }
    }
  </script>