{{ range .Paginator.Pages }}
    <div class="mb-40">
        <div class="content">
        <a href="{{.Permalink}}">
            <span class="title">  {{ .Title}} </span>
            <span>{{.Description}}</span>
        </a>
        </div>

        <ul class="tags text-small">
            {{ range .Params.topic }}
            <li><a class="tags-{{.}}" href="/topic/{{lower .}}">{{ . }}</a> </li>
            {{ end }}
            <li id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </li>
        </ul>
    </div>
{{ end }}